* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =========Common========== */

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 144px;

    padding: 17px 16px;
    border-radius: 24.5px;

    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
}

.btn:hover {
    opacity: 0.8;
}

/* ==========Header============ */
.header {
    padding-top: 24px;
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header .navbar {
    margin-left: 498px;
}

.header .list {
    display: flex;
}

.navbar .item a {
    margin-right: 14px;
    padding: 8px 14px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar .item.active a,
.navbar .item a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar .item.active {
    position: relative;
}

.navbar .item.active a::after {
    position: absolute;
    left: 14px;
    bottom: -6px;

    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: auto;
}

/* =============Hero============ */
.hero {
    padding-top: 52px;
    /* tren figma thi co khoang cach la 64 nhung phai tru di 12 do padding bottom vao header */
    padding-bottom: 65px;

    height: calc(100vh - 98px);
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .img-courses {
    position: relative;
    width: 48%;
}

.hero .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .courses {
    position: absolute;
    right: 0;
    bottom: 48px;

    padding: 24px;
    border-radius: 12px;

    width: 270px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

}

.hero .courses .item {
    display: flex;
    align-items: center;
}

.hero .courses .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 16px;

    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .courses .item:first-child .circle {
    background-color: #fff9e8;
}

.hero .courses .item:nth-child(2) .circle {
    background-color: #fcefff;
}

.hero .courses .item:last-child .circle {
    background-color: #ebeaff;
}

.hero .courses .quantity {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero .courses .name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .courses .item + .item {
    margin-top: 14px;
}

.hero .info {
    width: 52%;
    padding-top: 64px;
    padding-left: 130px;
}

.hero .info .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -0.02em;
}

.hero .info .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero .hero-cta {
    margin-right: 28px;
    min-width: 180px;

    padding: 24px 16px;
    border-radius: 32px;
    background-color: #ffb900;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 14px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .info .desc-bottom {
    margin-top: 48px;
}

.hero .info .stats {
    margin-top: 8px;
}

.hero .stats strong {
    padding: 0px 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.hero .stats strong:first-child {
    margin-left: -28px;
}